/* 전체 영역 */
body {
    overflow-x: hidden;
}
/* 주요 기능 영역 */
form {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* 맨 아래로 이동 버튼 */
#scroll-bottom {
    position: fixed;
    width: 8%;
    height: 7%;
    right: 0px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon_bottom {
    padding: 10%;
    border: 2px solid var(--point_color);
    border-radius: 50%;
    font-size: 25px;
    color: var(--point_color);
    cursor: pointer;
}
#icon_bottom:hover {
    background: linear-gradient(90deg, rgba(105,108,255,1) 0%, rgba(136,200,255,1) 100%);
    color: white;
    border: 2px solid var(--point_color);
    transition: 1s;
}
/* 맨 위로 이동 버튼 */
#scroll-top {
    position: fixed;
    width: 8%;
    height: 7%;
    right: 0px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon_top {
    padding: 10%;
    border: 2px solid var(--point_color);
    border-radius: 50%;
    font-size: 25px;
    color: var(--point_color);
    cursor: pointer;
}
#icon_top:hover {
    background: linear-gradient(90deg, rgba(105,108,255,1) 0%, rgba(136,200,255,1) 100%);
    color: white;
    border: 2px solid var(--point_color);
    transition: 1s;
}
/* 버튼 영역 */
.head {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
#info {
    flex-grow: 1;
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    margin-left: 10px;
}

.head > label {
    cursor: pointer;
}
.head > button {
    font: var(--font);
    padding: 5px 10px;
}
.loading-icon{
    display: none;
    font-size: 25px;
    position: absolute;
    right: -22px;
}
/* 자소서 입력 영역 */
#content {
    width: 100%;
    height: 100%;
    position: relative;
}
#jasoseo {
    resize: none;
    outline: none;
    width: calc(100% - 60px);
    height: calc(100% - 70px);
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 60px 30px 10px 30px;
    border: 1px solid var(--line_color);
    border-radius: 20px;
    box-shadow: 0px 0px 7px var(--line_color);
    font: var(--font);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    letter-spacing: 1px;
    line-height: 150%;
}
#jasoseo::-webkit-scrollbar {
    display: none;
}
/* hidden textarea */
#hidden_textarea {
    height: 0px;
    width: calc(100% - 60px);
    margin-top: 7px;
    padding: 60px 30px 10px 30px;
    border-radius: 20px;
    font: var(--font);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    letter-spacing: 1px;
    line-height: 150%;
    position: absolute;
    top: 0px;
    z-index: -1;
}
#hidden_textarea::-webkit-scrollbar {
    display: none;
}
/* 클립보드 복사 */
#icon_copy {
    cursor: pointer;
    position: absolute;
    right: 70px;
    top: 22px;
    /* font-size: clamp(1.2rem, 2vw, 2rem); */
    font-size: 20px;
}
#alarm_copy {
    position: absolute;
    right: 57.5px;
    top: 44.5px;
    font-size: 13px;
    font-weight: bold;
    /* background: linear-gradient(90deg, rgba(105,108,255,1) 0%, rgba(136,200,255,1) 100%); */
    background: var(--line_color);
}
/* 텍스트 초기화 */
#icon_reset {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20.5px;
    font-size: 25px;
}
/* 글자수 표시 */
#counter {
    float: right;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 50px;
}
/* 에러 영역 */
.error_box {
    position: absolute;
    right: 0px;
    top: -30px;
    display: flex;
    font-size: clamp(0.5rem, 1.5vw, 0.8rem);
    color: var(--point_color);
}
/* 옵션 에러 */
#option-error {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    border: 1px solid var(--point_color);
    padding: 5px;
    transition: 0.3s ease-out;
}
/* 자소서 에러 */
#jasoseo-error {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    border: 1px solid var(--point_color);
    padding: 5px;
    transition: 0.3s ease-out;
}
/* 옵션 에러만 발생했을 때 */
#only-option-error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: -30px;
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 0.8rem);
    color: var(--point_color);
    border: 1px solid var(--point_color);
    padding: 5px;
    transition: 0.3s ease-out;
}
/* 문단별 소제목 알림 */
#mini-title-comment {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: -30px;
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 0.8rem);
    color: red;
    border: 1px solid red;
    padding: 5px;
    transition: 0.3s ease-out;
}