{% load static %}
<!DOCTYPE html>
<!-- 문의 하기 모달창-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/board/question.css' %}" rel="stylesheet">
    <link href="{% static 'css/board/answer.css' %}" rel="stylesheet">
    <title>{% block title %}title{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <p class="titlenameinmodal">문의하기</p>
    <hr>
    <form method="POST" enctype="multipart/form-data" onsubmit="save_question(event)">
        <button class="close" onclick="closeModal()">&times;</button>

        {% csrf_token %}
        <div class="category">
            {% for category in category_list %}
                {% if category.name == post.category %}
                    <input class="select" type="radio" name="category" value="{{ category.name }}" id="category{{ forloop.counter }}" checked>
                    <label for="category{{ forloop.counter }}" class="categoryname">
                        <p>{{ category.name }}</p>
                    </label>        
                {% else %}
                    <input class="select" type="radio" name="category" value="{{ category.name }}" id="category{{ forloop.counter }}">
                    <label for="category{{ forloop.counter }}" class="categoryname">
                        <p>{{ category.name }}</p>
                    </label>
                {% endif %}
            {% endfor %}
        </div>
        <div class="postname">
            <label for="postname">제목 * </label>
            <input type="text" name="postname" id="postname" {% if post.postname %}value="{{ post.postname }}"{% else %}placeholder="문의사항을 남겨주시면, 최대한 빠르게 답변 드리겠습니다. 개인정보가 포함된 질문은 메일로 문의 부탁드립니다.(최대 30자)"{% endif %}>
        </div>
        <div class="contents">
            <label for="contents">내용 *</label>
            <textarea id="contents" name = "contents">{% if post.contents %}{{ post.contents }}{% endif %}</textarea>
        </div>
        <div class="file">
            <label class="filebox">사진&nbsp;&nbsp;</label>
            <label for="image"><p id="fileinput">사진첨부</p>
                <input class="upload" type="file" name="image" id="image" onchange="validateFile();">
            </label>
        </div>
        <div class="submitbutton">
            <button id = "submitbutton" type="summit">제출</button>
        </div>
    </form>
</body>
</html>