/* qna페이지 */
html {
    min-height: 100%;
    min-width: 100%;
    background: white;
}
.previous, .next {
    list-style-type: none;
    text-decoration-line: none;
}
.titlename {
    margin-right: 0%;
    font-size: clamp(1rem, 5vw, 2rem);
    margin: 6% 15% 0% ;

}
/* 마이페이지 메뉴 */
.button_areaqna {
    position: relative;
    right: 15%;
    width: 100%;
    bottom: 1%;
    text-align: right;
}
.button_areamyqna {
    position: relative;
    right: 15%;
    width: 100%;
    bottom: 1%;
    text-align: right;
}
#mypage_menu {
    border: 0px;
    background: none;
    color: black;
    font-family: "PretendardVariable.woff2";
    font-size: clamp(0.5rem, 2vw, 0.9rem);
    font-weight: bold;
    cursor: pointer;
}
/* board_base_qna_page */
.qnatable {
    margin: 0 15% auto;
    width: 70%;
    height: 150%;
    border-collapse : collapse
}
td {
    text-align: center;
    font-family: "PretendardVariable.woff2";
    font-size: clamp(0.5rem, 2vw, 1rem);
    padding: 10px;
}
th {
    text-align: center;
    font-family: "PretendardVariable.woff2";
    padding: 10px;
    font-size:  clamp(0.4rem, 2vw, 1.1rem) !important;
    border-top: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
}
tr {
    border-bottom: 1px solid var(--line_color);
}
tr:hover th {
    background-color: white;
    color: initial;
    text-align: center;
    font-family: "PretendardVariable.woff2";
    padding: 10px;
}
tr:hover{    
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(105,108,255,0.5) 0%, rgba(136,200,255,0.5) 100%);
    color: white;
}
.th1 {
    width: 10%;
}
.th2 {
    width: 15%;
}
.th3 {
    width: 50%;
}
.th4 {
    width: 10%
}
.th5 {
    width: 15%;
}
img.firstbtn, img.lastbtn {
    width: 30px;
}
img.prebtn, img.nextbtn{
    width: 25px;
    padding-bottom: 2.1px;
}

ul {
    list-style:none;
    margin: 0px;
}
.pagenumber {
    position: relative;
    top: 5px;
}
li {
    text-decoration: none;
    color: black;
    float: left;
    margin: 5px;
    font-family: "PretendardVariable.woff2";
}
.questionbtn {
    text-align: right;
    position: relative;
    right: 15%;
}
input.button{
    width: 120px;
    height: 35px;
    padding: 1px 1px;
    font-size:  clamp(0.4rem, 3vw, 1rem);
}
.page_number {
    font-family: "PretendardVariable.woff2";
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    position: relative;
    top: 5px;
}
.pagenum {
    max-width: 100%;
    margin-top: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
}
/* font */
@font-face {
    font-family: "PretendardVariable.woff2";
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

/* 모달 스타일링 */
.modal, #modal, #myModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 75%;
    height: 80%;
}
.modal-content-container {
    overflow-y: auto;
    max-height: 80vh; /* 모달 창의 최대 높이 설정 */
}
.titlenameinquestionmodal {
    width: fit-content;
    font-weight: 400;
    font-size: 28px;
    position: relative !important;

}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.close:hover {
    background-color: white !important;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
body.modal-open {
    overflow: hidden;
}