{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <link href="../../static/css/main.css" rel="stylesheet">
    <link href="../../static/css/about.css" rel="stylesheet">
    <link href="../../static/css/pretendardvariable.css" rel="stylesheet">
</head>
<body>
    <nav class="scroll-moveBox flex flex-br-c">
        <ul class='no_dot'>
          <li class="nav"><a href="#service_sm" class="scroll_move"><span>서비스소개</span></a></li><br>
          <li class="nav"><a href="#grammar_sm" class="scroll_move"><span>자소서 교정</span></a></li><br>
          <li class="nav"><a href="#manage_sm" class="scroll_move"><span>자소서 관리</span></a></li><br>
          <li class="nav"><a href="#draft_sm" class="scroll_move"><span>자소서 초안</span></a></li><br>
          <li class="nav"><a href="#subscribe_sm" class="scroll_move"><span>구독서비스</span></a></li><br>
          <li class="nav"><a href="#aboutus_sm" class="scroll_move"><span>about us</span></a></li><br>
        </ul>
    </nav>
    
    <!-- 1. 서비스 소개 -->
    <div id="service_sm" class="service_sm">
        <div class="service_text">
            <h1>수정부터, 관리까지, '오린'에서</h1>
            <p>저희는 오린을 통해 자기소개서에 최적화된, end-to-end 서비스를 제공하고자 합니다.<br>
                채용 정보 플랫폼에서 부가적으로 제공하는 자기소개서 교정 서비스는 불친절하고, 접근성도 떨어지며, 관리 또한 어렵습니다.<br>
                이러한 불편함을 해결하고자, 오린을 개발하게 되었습니다.<br>
                소비자들은 오린이 제공하는 서비스를 통해, 기존에 느끼지 못했던 편리함을 경험할 수 있을 것입니다.
            </p><br><br><br>
            <h1> WHY <b style="color: #696cff;">오린</b>? </h1>
            <p>‘오린’은 자기소개서에 어려움을 겪는 모든 사람들을 위한 저희들의 마음을 담아 지어졌습니다.<br>
                자기소개서를 위한 모든 서비스가 집약되어 있다는 의미에서 <b>‘올인(All In)’</b><br>
                자기소개서를 올바르게 교정해준다는 의미에서 <b>‘옳은’</b><br>
                ‘오린’은 앞으로도 ‘옳은’ 서비스가 ‘올인’될 수 있도록, 끊임없이 노력할 것입니다.<br>
            </p>
        </div>
    </div>

    <!-- 2. 자소서 교정 -->
    <div id="grammar_sm" class="grammar_sm">
        <div class="grammar_text">
            <h1>자기소개서 교정</h1>
            <p style="line-height: 1.9;">
                맞춤법 : 작성한 자기소개서의 맞춤법을 교정해줍니다.<br>
                소제목 : 전체 혹은 문단별 소제목을 추천해줍니다.<br>
                코칭 : 작성한 자기소개서에 대해 코칭 AI가 좋은 점과 아쉬운 점을 피드백 해줍니다. <br>
            </p>
        </div>
        <img class="grammar_img" src="{%static 'img/1_gra_sub_6.gif'%}">
    </div>

    <!-- 3. 자소서 관리 -->
    <div id="manage_sm" class="manage_sm">
        <div class="manage_text">
            <h1>자소서 관리</h1>
            <p class="manage_textp" style="line-height: 1.9;">
                북마크: 편집된 내용을 임시저장 할 수 있습니다.<br>
                다운로드: 완성된 자기소개서를 .docx 형식으로 다운로드 받을 수 있습니다.<br>
                마이자소서에 저장: 마이자소서에서 완성된 자기소개서를 관리할 수 있습니다.<br>
            </p>
        </div>
        <img class="manage_img" src="{%static 'img/4_mypage_6.gif'%}">
    </div>

    <!-- 4. 자소서 초안 -->
    <div id="draft_sm" class="draft_sm">
        <div class="draft_text">
            <h1>자소서 초안</h1>
            <p>AI가 ‘자기소개서 문항’과 ‘경험’을 바탕으로 자기소개서 초안을 작성해줍니다.</p>
        </div>
        <img class="draft_img" src="{%static 'img/5_draft_6.gif'%}">
    </div>

    <!-- 5. 구독 서비스 -->
    <div id="subscribe_sm" class="subscribe_sm">
        <form id="subscribe-form" method="POST">
            {% csrf_token %}
        
            <!-- 구독하기 -->
            <input type="hidden" name="user_id" value="{{ request.user.user_id }}">
                
            <!-- 무료 -->
            <div class="free" id="free">
                <p class="title">Basic</p>
                <button id="button" href="{% url 'common:register' %}">free</button>
                <div class="content">
                    <p>✅ 자소서 문맥 교정 서비스</p>
                    <p>✅ 자소서 소제목 AI 생성 서비스</p>
                    <p>❌ 북마크 임시 저장 2개</p>
                    <p>❌ 자소서 저장 용량 무제한</p>
                    <p>❌ chatGPT로 자소서 초안 작성</p>
                </div>
            </div>
            <!-- 유료 -->
            <div class="pay" id="pay">
                <p class="title">Pro</p>
                <button type="button" id="button" href="{% url 'common:my_profile_subscribe' %}">3,900원/월</button>
                <div class="content">
                    <p>✅ 자소서 문맥 교정 서비스</p>
                    <p>✅ 자소서 소제목 AI 생성 서비스</p>
                    <p>✅ 북마크 임시 저장 6개</p>
                    <p>✅ 자소서 저장 용량 무제한</p>
                    <p>✅ chatGPT로 자소서 초안 작성</p>
                </div>
            </div>
        </form>
    </div>

    <!-- 7. 개발자 -->
    <div id="aboutus_sm" class="aboutus_sm">
        <div class="parent">
            <img id="moon" src="{% static 'img/moon_mimo.png' %}">
            <img id="an" src="{% static 'img/an_mimo.png' %}">
        </div>
        <div class="parent">
            <img id="jun" src="{% static 'img/jun_mimo.png' %}">
            <img id="hyun" src="{% static 'img/hyun_mimo.png' %}">
        </div>    
        <div class="parent">
            <img id="bean" src="{% static 'img/bean_mimo.png' %}">
            <img id="wool" src="{% static 'img/wool_mimo.png' %}">
        </div>
    </div>
    <script type="../../static/js" src="file:///Users/hanwool/aivle_01_03_AI/mysite/templates/orin/main.js"></script> 
</body>
</html>
<script>
    document.getElementById("pay").addEventListener("click", function() {
        window.open("{% url 'common:my_profile_subscribe' %}", "_blank");
    });
    
    document.getElementById("free").addEventListener("click", function() {
        window.open("{% url 'common:register' %}", "_blank");
    });
    
    document.getElementById("moon").addEventListener("click", function() {
        window.open("https://github.com/ttoro-lee", "_blank");
    });
    
    document.getElementById("an").addEventListener("click", function() {
        window.open("https://github.com/jian1114", "_blank");
    });
    
    document.getElementById("jun").addEventListener("click", function() {
        window.open("https://github.com/ksj1368", "_blank");
    });
    
    document.getElementById("hyun").addEventListener("click", function() {
        window.open("https://github.com/jjhh0210", "_blank");
    });
    
    document.getElementById("bean").addEventListener("click", function() {
        window.open("https://github.com/ayocado", "_blank");
    });
    
    document.getElementById("wool").addEventListener("click", function() {
        window.open("https://github.com/h4nwool", "_blank");
    });
    
</script>
{% endblock %}