{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/common/my_profile_password.css'%}">
    <title>마이페이지 - 비밀번호변경</title>
</head>

<!-- 주요기능 -->
<form method="POST" novalidate>
    {% csrf_token %}
    <!-- 페이지 제목 -->
    <p id="title">비밀번호 변경</p>
    <!-- 기존비밀번호 -->
    <div class="old_password">
        <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}" id="label_old_password">
            {{ password_change_form.old_password.label }}
        </label>
        {{ password_change_form.old_password|add_class:"text_old_password" }}
        <script type="text/javascript">
            if (document.getElementsByName('old_password')[0].value != '') {
                document.getElementsByName('label_old_password')[0].setAttribute('class', 'active');
            }
        </script>
        {% if password_change_form.old_password.errors %}
        <script type="text/javascript">
            document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in password_change_form.old_password.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- 새 비밀번호-->
    <div class="new_password1">
        <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}" id="label_new_pw1">
            {{ password_change_form.new_password1.label }}
        </label>
        <small class="comment_new_pw">
            최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
        </small>
        {{ password_change_form.new_password1|add_class:"text_new_pw1" }}
        <script type="text/javascript">
            if (document.getElementsByName('new_password1')[0].value != '') {
                document.getElementsByName('label_new_password1')[0].setAttribute('class', 'active');
            }
        </script>
        {% if password_change_form.new_password1.errors %}
        <script type="text/javascript">
            document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in password_change_form.new_password1.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- 새 비밀번호 확인 -->
    <div class="new_password2">
        <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}" id="label_new_pw2">
            {{ password_change_form.new_password2.label }}
        </label>
        {{ password_change_form.new_password2|add_class:"text_new_pw2" }}
        <script type="text/javascript">
            if (document.getElementsByName('new_password2')[0].value != '') {
                document.getElementsByName('label_new_password2')[0].setAttribute('class', 'active');
            }
        </script>
        {% if password_change_form.new_password2.errors %}
        <script type="text/javascript">
            document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in password_change_form.new_password2.errors %}
        <div style="white-space: nowrap;" class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="button_area">
        <input type="button" onclick = "location.href = '{% url 'common:my_profile' %}'" value = '돌아가기' id="button"></input>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm" id="button">변경하기</button>
    </div>
</form>
{% endblock %}