/* 기능 영역 */
form {
    width: 35%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 페이지 제목 */
#title {
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 50px;
}
/* 기존 비밀번호 */
.old_password {
    width: 100%;
    height: auto;
}
#label_old_password {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: bold;
}
.text_old_password {
    width: 100%;
    height: 35px;
    border: 1px solid var(--line_color);
    border-radius: 5px;
    background-color: white;
    padding: 1px 10px;
    margin-top: 5px;
    font-size: 17px;
    outline: none;
}
.text_old_password:hover, .text_old_password:focus {
    box-shadow: 0px 0px 7px var(--line_color);
}
/* 비밀번호 설정 */
.new_password1 {
    width: 100%;
    height: auto;
    margin-top: 25px;
    position: relative;
}
#label_new_pw1 {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: bold;
}
.comment_new_pw {
    position: absolute;
    right: -20px;
    top: 4px;
    font-size: clamp(0.1rem, 1.5vw, 0.8rem);
}
.text_new_pw1 {
    width: 100%;
    height: 35px;
    border: 1px solid var(--line_color);
    border-radius: 5px;
    background-color: white;
    padding: 1px 10px;
    margin-top: 5px;
    font-size: 17px;
    outline: none;
}
.text_new_pw1:hover, .text_new_pw1:focus {
    box-shadow: 0px 0px 7px var(--line_color);
}
/* 비밀번호 재확인 */
.new_password2 {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

#label_new_pw2 {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: bold;
}

.text_new_pw2 {
    width: 100%;
    height: 35px;
    border: 1px solid var(--line_color);
    border-radius: 5px;
    background-color: white;
    padding: 1px 10px;
    margin-top: 5px;
    font-size: 17px;
    outline: none;
}
.text_new_pw2:hover, .text_new_pw2:focus {
    box-shadow: 0px 0px 7px var(--line_color);
}
/* 버튼 */
.button_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#button {
    width: 50%;
    max-width: 120px;
    height: 35px;
    background: white;
    border: 1px solid #696cff;
    border-radius: 50px;
    color: #696cff;
    font-family: "PretendardVariable.woff2";
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    font-weight: bold;
}
#button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px #CFCDCD;
    background: linear-gradient(90deg, rgba(105,108,255,1) 0%, rgba(136,200,255,1) 100%);
    border: none;
    color: white;
}
/* 에러 */
.is-invalid {
    width: 100%;
    height: 35px;
    border: 1px solid var(--line_color);
    border-radius: 5px;
    background-color: white;
    padding: 1px 10px;
    font-size: 17px;
    outline: none;
    margin-top: 5px;
}
.is-invalid:hover, .is-invalid:focus {
    box-shadow: 0px 0px 7px var(--line_color);
}
.invalid-feedback {
    color: red;
    font-size: clamp(0.1rem, 1.5vw, 0.8rem);
    float: right;
    position: relative;
    right: -20px;
}